<!-- Start views/users/index -->
<header>
	<h1> chatable </h1>
	<h3> connecting a diverse world through online messaging, 
		<br \>
		one language at a time...
	</h3>
	<br \>
	<br \>
	
	<ul>
		<li class="welcome-page-link"><a href="http://localhost:3000/users/edit">Profile</a></li>
		<li class="welcome-page-link"><a href="http://localhost:3000/conversations">Messages</a></li>
		<li class="welcome-page-link"><a href="#">Events</a></li>
	</ul>
</header>
<br \>
<table class="users_list">
	<ul>
		<% @users.each do |user| %>
		<% if user != current_user %>
		<li><%= render partial: "display", locals: {user: user, languages: user.languages} %></li>
		<% end %>
		<% end %>
	</ul>
</table>

