
<table class="users_list">
	<ul>
		<% @users.each do |user| %>
		<% if user != current_user %>
		<li class="random-users"><%= render partial: "display", locals: {user: user, languages: user.languages} %></li>
		<% end %>
		<% end %>
	</ul>
</table>

