<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<header>
	<h1> chatable </h1>
	<h3> connecting a diverse world through online messaging, 
		<br \>
		one language at a time...</h3>
		<br \>
		<br \>
		<ul>
			<li><a href="http://localhost:3000/users/edit">Profile</a></li>
			<li><a href="http://localhost:3000/conversations">Messages</a></li>
			<li><a href="#">Events</a></li>
		</ul>
	</header>
	<body>
		<br \>
		<p>
			These are the user profiles
			<br \>
			Henry
			<br \>
			Pedro
			<br \>
			Alyssa
		</p>
	</body>
	</html>