<!--page to search through all the users -->

<%= form_tag "/users", method: 'GET', id: 'users_search' do %>
  <%= text_field_tag 'q', params[:q] %>
  <div style="clear: both"></div>
<% end %>


<br/><br/>
<div id= "users">
  <%= render "users" %>
</div>
<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
    




