<!--page to search through all the users -->

<div class="container">
	<div container="row">
		<div><%= form_tag "/users", method: 'GET', class: ' form-inline users_search' do %> 
			<%= text_field_tag 'q', params[:q], placeholder: "Enter name or location" %>
			<div style="clear: both"></div>
			<% end %>
		</div>
	</div>
	</div>
	<br/><br/>
	<div id= "users">
		<%= render "users" %>
	</div>

	



