c<!--#page with 3 people to message -->

<div class="jumbotron jumbotron-home">
  <div class="container home">
    <div class="page-header">
    <h1 class="home-heading">Welcome to Chatable</h1>
    <p class="home-sub">Start a chat instantly!</p>
    </div>
  </div>
</div>

<a><%= link_to "Update Language Settings", edit_user_path(current_user), class: "btn btn-large btn-primary message-button" %></a>

<div class="container user_table">
  <div class="row">
		<% @users.each do |user| %>
      <div class="col-sm-4">
			    <li class="random-users"><%= render partial: "display", locals: {user: user, languages: user.languages} %></li><br \>
          </div>
		<% end %>
  </div>
</div>