<!--#page with 3 people to message -->

<div class="jumbotron jumbotron-home">
  <div class="container home">
    <div class="page-header">
    <h1 class="home-heading">Start a Chat Instantly!</h1>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal">
  Update Languages
</button>
    </div>
  </div>
</div>


<div class="container user_table">
  <div class="row">
		<% @users.each do |user| %>
      <div class="col-sm-4">
			    <li class="random-users"><%= render partial: "display", locals: {user: user, languages: user.languages} %></li><br \>
          </div>
		<% end %>
  </div>
</div>

<%= render partial: 'modal', locals: {user: @user} %>