<!-- Start views/users/index -->
<header>
	<h1> chatable </h1>
	<h3> connecting a diverse world through online messaging, 
		<br \>
		one language at a time...
	</h3>
	<br \>
	<br \>
	
	<ul>
	<!-- TODO: fix links -->
		<li class="welcome-page-link"><a href="http://localhost:3000/users/edit">PROFILE</a></li>
		<li class="welcome-page-link"><a href="http://localhost:3000/conversations">MESSAGES</a></li>
		<li class="welcome-page-link"><a href="#">EVENTS</a></li>
		<li class="welcome-page-link"><a href="http://localhost:3000/users">PALS</a></li>
	</ul>
</header>
