<div class="jumbotron jumbotron-main">
  <div class="container">
    <h1>chatable</h1>
    <h3>connecting a diverse world through online messaging,<br \>
    one language at a time...</h3>
  </div>
</div>

<div class="container_1">
  <div class="row_one">
  	INTRODUCING CHATABLE
  </div>
  <br \><br \>
  <div class="row_one_second">
  	The most effective way to expand your network, find new friends <br \>
  	and learn a new language - all from the comfort of your own home!
  </div>
 </div>

<br \><br \><br \><br \>

<div class="jumbotron jumbotron-second">
  <div class="container">
    <!--filler text-->
  </div>
</div>

<div class="container_2">
  <div class="row_two">
  </div>
  <div class="row_two_categories">
    <div class="col-xs-6 col-sm-4">
     	MEET NEW PEOPLE
    </div>
    <div class="col-xs-6 col-sm-4">
      	LEARN NEW LANGUAGES
    </div>
    <div class="col-xs-6 col-sm-4">
    	REACH NEW HEIGHTS
    </div>
  </div>
</div>

<div class="container_3">
  <div class="row_two">
    <div class="col-xs-6 col-sm-4">
     	MEET NEW PEOPLE
    </div>
    <div class="col-xs-6 col-sm-4">
      	LEARN NEW LANGUAGES
    </div>
    <div class="col-xs-6 col-sm-4">
    	REACH NEW HEIGHTS
    </div>
  </div>
</div>
