$brand-primary: #7FB7BE;
$brand-warning: #FF1654;

@import 'bootstrap';
@import 'bootstrap/theme';

@import 'chosen';
@import 'style';


.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

